<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--加上這區段-->
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,
                                    Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity>
    <typeAliases>
      <typeAlias alias="ISalaryFormula"
                  type="HR.ISalaryFormula, HR" />
      <!--interface定義-->
    </typeAliases>
    <containers>
      <!--建立一般員工的container-->
      <container name="containerEmployee">
        <types>
          <type type ="ISalaryFormula" mapTo="HR.SalaryFormula, HR" />
          <!--位於HR.dll, 找HR.SalaryFormula class-->
        </types>
      </container>
      <!--建立Boss的container-->
      <container name="containerBoss">
        <types>
          <type type ="ISalaryFormula" mapTo="HR.BossSalaryFormula, HR" />
          <!--位於HR.dll, 找HR.BossSalaryFormula class-->
        </types>
      </container>
    </containers>
  </unity>
  <!--加上這區段-->
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>